/* Helpers */
.clear { clear: both; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-large { font-size: 1.3em; }
.spacer { padding-bottom: 20px; }

/* Generic Overrides */
.ui-header .ui-title, .ui-footer .ui-title {
	/* header width to fit title */
	/*margin: .6em 15% .8em;*/
}

.weather-image {
	position: absolute;
	z-index: -99;
	left: 0;
	padding-left: 20px;
	}
.weather-forecast {
	text-align: right;
	padding-right: 20px;
	}
.weather-extended {
	text-align: center;
	}
.weather-extended .label {
	font-weight: 600;
	}
.weather-extended .value {
	font-size: 1.5em;
	padding-bottom: 20px;
	}
.weather-extended .value div {
	margin: 0 auto;
	margin-top: 5px;
	}

/* disable text highlighting */
body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}

body { background-color: #000 !important; };

/* potential panel flicker fix */
.ui-panel-animate.ui-panel-content-wrap > .ui-content,
.ui-panel-animate.ui-panel-content-wrap > .ui-footer  {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0,0,0);
}
.ui-page {
   -webkit-backface-visibility: hidden;
   }

img.full-responsive {
	width: 100%;
	}
	
.ui-page {
	background: url(../img/beachbg.jpg);
	background-repeat: no-repeat;
	/*background-position: fixed;*/
	background-size: cover;
	background-position: center center;
}
.ui-panel-content-wrap.ui-body-b {
	background: transparent !important;
}
.ui-panel-content-wrap.ui-body-c {
	background: rgba(255,255,255,0.75) !important;
}
#panelmenu {
	background-image: url(../img/leatherbg.jpg);
	background-repeat: repeat;
	}

#panel-list {
	opacity: 0.6;
	}
	
/* Program Guide */
#trackselect legend {
	margin: 0 auto;
	}
table.guide {
	border-spacing:0;
    border-collapse:collapse;
	/*font-size: 0.9em;*/
	}
.guide .ui-btn-text {
	font-size: 12px !important;
	}
.guide td {
	padding: 5px;
	}
.guide .track2,
.guide .track3 {
	display: none;
	}
.guide tr.track1 {
	display: table-row;
	}
.guide .time {
	white-space: nowrap;
	font-size: 0.75em;
	}
.guide .track1,
.guide .track2,
.guide .track3 {
	font-size: 0.9em;
	}
.guide .track {
	background-color:#B0C4DE !important;
	}
	
/*
#floorplan {
	position: absolute;
	height: 100%;
	width: 100%;
	}
*/
#floorplan img {
	-webkit-transform:translate3d(0,0,0);
	}
	
.places .ui-li-heading {
	margin-top: 0 !important;
	}

.speaker-info {
	font-weight: 600;
	font-size: 1.1em;
	}
.speaker-info .date {
	font-weight: 400;
	font-size: 0.9em;
	font-style: italic;
	}

/* styles for larger screens */
@media ( min-width: 25em ) {
	
	/* Bus schedule reflow break-point */
	/* Show the table header rows and set all cells to display: table-cell */ 
	.bustable td,
	.bustable th,
	.bustable tbody th,
	.bustable tbody td,
	.bustable thead td,
	.bustable thead th {
		display: table-cell;
		margin: 0;
	}
	/* Hide the labels in each cell */ 
	.bustable td .ui-table-cell-label,
	.bustable th .ui-table-cell-label { 
		display: none;
	}
	
	table.guide {
		width: 100%;
		}
}

@media ( min-width: 34em ) {

	.weather-today {
		padding-bottom: 20px;
		}
	.weather-forecast {
		text-align: left;
		width: 50%;
		padding-left: 50%;
		font-size: 1.5em;
		}
	.weather-image {
		right: 50%;
		left: inherit;
		padding-top: 25px;
		}
	.weather-extended {
		font-size: 1.4em;
		}
	.weather-extended .value {
		padding-bottom: 50px;
		}
}
